.vscode/**
.vscode-test/**
out/**
src/**
test/**
**/*.map
**/*.ts
tsconfig.json
esbuild.mjs
.mocharc.unit.cjs
.vscode-test.mjs
.editorconfig
.prettierrc.json
.prettierignore
eslint.config.mjs
pnpm-workspace.yaml
pnpm-lock.yaml
.gitignore
